{% extends '../../layouts/index.html' %}
{% block title %}Book list{% endblock %}
{% block head %}
<!-- 这里到时候会写 css  -->
{% parent %}
{% endblock %}
{% block content %}
<ul>
  {%for item in data%}
  <li>{{item.name}}</li>
  {%endfor%}
  <button id="btn">click me</button>
</ul>
{% endblock %}

{% block scripts %}
<script src="/js/utils.js"></script>
<script>
  function log() {
    console.log(+new Date());
  }
  const logThrottle = window.throttle(log, 2000);
  document.getElementById('btn').addEventListener('click', logThrottle);
</script>
{% endblock %}
